node-red/node-red-dashboard.flow
[{"id":"8d0afaf.2246988","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"7f097835.0efb4","type":"mqtt in","z":"8d0afaf.2246988","name":"","topic":"ioct/box1/temperature/current","qos":"2","broker":"24acd76c.0225a","x":340,"y":140,"wires":[["dd821ac1.ba055","c59c0c1c.3635b8"]]},{"id":"dd821ac1.ba055","type":"debug","z":"8d0afaf.2246988","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":630,"y":140,"wires":[]},{"id":"1bc3e3b4.0395a4","type":"mqtt in","z":"8d0afaf.2246988","name":"","topic":"ioct/box1/camera/current","qos":"2","broker":"24acd76c.0225a","x":130,"y":400,"wires":[["d5ecc34e.dd615","fcb6dd1d.d267e","5f5e9886.02a4"]]},{"id":"d5ecc34e.dd615","type":"image","z":"8d0afaf.2246988","name":"","width":"100","x":530,"y":260,"wires":[],"inputLabels":["msg.payload"]},{"id":"fcb6dd1d.d267e","type":"debug","z":"8d0afaf.2246988","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":500,"wires":[]},{"id":"c59c0c1c.3635b8","type":"ui_gauge","z":"8d0afaf.2246988","name":"","group":"d58732cb.5bf588","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"","format":"{{value | number:1}}°C","min":"-30","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":830,"y":240,"wires":[]},{"id":"5f5e9886.02a4","type":"ui_template","z":"8d0afaf.2246988","group":"e5398f49.a5c2d8","name":"","order":1,"width":"8","height":"8","format":"<img src='data:image/gif;base64,{{msg.payload}}'\n width='480' \n height='300' \n id='img'\n alt='Image'\n>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":520,"y":400,"wires":[["eff89bb8.2a20f"]]},{"id":"eff89bb8.2a20f","type":"debug","z":"8d0afaf.2246988","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":400,"wires":[]},{"id":"952f201a.d3347","type":"ui_switch","z":"8d0afaf.2246988","name":"","label":"Door control","tooltip":"","group":"d58732cb.5bf588","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"ioct/box1/camera/switch","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":570,"y":620,"wires":[["ea3d15a9.dcc4b"]]},{"id":"ea3d15a9.dcc4b","type":"mqtt out","z":"8d0afaf.2246988","name":"","topic":"ioct/box1/camera/switch","qos":"","retain":"true","broker":"24acd76c.0225a","x":830,"y":620,"wires":[]},{"id":"5e292919.d5b98","type":"mqtt in","z":"8d0afaf.2246988","name":"","topic":"ioct/box1/camera/switch","qos":"2","broker":"24acd76c.0225a","x":140,"y":500,"wires":[["4ce3e698.764e38"]]},{"id":"4ce3e698.764e38","type":"debug","z":"8d0afaf.2246988","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":300,"y":620,"wires":[]},{"id":"24acd76c.0225a","type":"mqtt-broker","z":"","name":"","broker":"ioct-box1","port":"8883","tls":"cd057a4d.4423a","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d58732cb.5bf588","type":"ui_group","z":"","name":"Command Center","tab":"3a91544e.48fd9c","disp":true,"width":"6","collapse":false},{"id":"e5398f49.a5c2d8","type":"ui_group","z":"","name":"Image","tab":"3a91544e.48fd9c","disp":true,"width":"8","collapse":false},{"id":"cd057a4d.4423a","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"/etc/mosquitto/certs/root.crt","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false},{"id":"3a91544e.48fd9c","type":"ui_tab","z":"","name":"IoCT","icon":"dashboard","disabled":false,"hidden":false}]
